<div class="container">
  <div class="row">
    <div class="col-8 mx-3 mt-3">
      <h5>会員情報編集</h5>

      <%= form_with model: @customer, url: customers_information_path, method: :patch do |f| %>
      <%= render "layouts/errors", obj: @customer %>
　　　<div class="form-group d-flex my-3">
        <div class="my-2 mx-3">
          <label>名前</label>
        </div>
        <div>
          <%= f.label :last_name, "(姓)" %>
        </div>
        <div>
          <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name", class: "form-control" %>
        </div>
        <div>
          <%= f.label :first_name, "(名)" %>
        </div>
        <div>
          <%= f.text_field :first_name, autocomplete: "given-name", class: "form-control" %>
        </div>
      </div>

      <div class="form-group d-flex my-3">
        <div class="my-2 mx-3">
          <label>フリガナ</label>
        </div>
        <div>
          <%= f.label :last_name_kana, "(セイ)" %>
        </div>
        <div>
          <%= f.text_field :last_name_kana, autocomplete: "name", class: "form-control" %>
        </div>
        <div>
          <%= f.label :last_name_kana, "(メイ)" %>
        </div>
        <div>
          <%= f.text_field :first_name_kana, autocomplete: "name", class: "form-control" %>
        </div>
      </div>

      <div class="form-group d-flex my-3">
        <div class="my-2 mx-3">
          <%= f.label :postal_code, "郵便番号" %>
        </div>
        <div>
          <%= f.text_field :postal_code, autocomplete: "postal-code", class: "form-control" %>
        </div>
      </div>

      <div class="form-group d-flex my-3">
        <div class="my-2 mx-3">
          <%= f.label :address, "住所" %>
        </div>
        <div>
          <%= f.text_field :address, autocomplete: "shipping", class: "form-control" %>
        </div>
      </div>

      <div class="form-group d-flex my-3">
        <div class="my-2 mx-3">
          <%= f.label :telephone_number, "電話番号" %>
        </div>
        <div>
          <%= f.text_field :telephone_number, autocomplete: "tel-national", class: "form-control" %>
        </div>
      </div>

      <div class="form-group d-flex my-3">
        <div class="my-2 mx-3">
          <%= f.label :email, "メールアドレス" %>
        </div>
        <div>
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>
      </div>


      <div class="d-flex my-3 mx-auto">
        <%= f.submit "編集内容を保存", class: 'btn px-4 btn-success' %>
        <%= link_to "退会する", customers_unsubscribe_path, class: 'btn px-4 btn-danger' %>
      </div>
      <% end %>



    </div>
  </div>
</div>