<div class="container mt-5 ">
  <div class="row">
    <div class="backimage-text">
      <div class="backimage"><%= image_tag 'cake_back.jpg', :size => '500x300', class: "" %>
      <div class="text text-center">
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <h2>新着商品</h2>
    <div class="row mt-4">
      <% @items.each do |item| %>
        <div>
          <div>
            <%= link_to item_path(item) do %>
              <%= image_tag item.item_image, size: "100x100" %>
            <% end %>
          </div>
          <div><%= item.name %></div>
          <div>¥<%= item.add_tax_price.to_s(:delimited) %></div>
        </div>
      <% end %>
      <div class="text-center mt-5"><%= link_to "すべての商品を見る", items_path %></div>
    </div>
  </div>
</div>