<div class="container">
  <div class="row">
    <div class="col">
      <h5><%= @customer.last_name + @customer.first_name %>の会員詳細</h5>

      <table class="table my-3">
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name + "  " + @customer.first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.last_name_kana + "  " + @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td>
            <% if @customer.is_active %>
            <p class="text-success"><storng>有効</storng></p>
            <% else %>
            <p class="text-muted"><storng>退会</storng></p>
            <% end %>
          </td>
        </tr>
      </table>

      <div class="d-flex my-3">
        <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success mx-3" %>
        <%= link_to "注文履歴一覧を見る", admin_path, class: "btn btn-primary mx-3" %>
      </div>
    </div>
  </div>
</div>