<div class="container">
  <h3 class="my-5">注文履歴詳細</h3>
  <div class="row mt-3">
    <div class="col-md-3"><strong>購入者</strong></div>
    <div class="col-md-3">
      <%= link_to admin_customer_path(@order.customer) do %>
        <%= order.customer.last_name %> <%= order.customer.first_name %>
      <% end %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3"><strong>注文日</strong></div>
    <div class="col-md-3">
      <%= @order.created_at %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3"><strong>配送先</strong></div>
    <div class="col-md-8">
      <%= @order.postal_code %> <%= @order.address %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <%= @order.name %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3"><strong>支払方法</strong></div>
    <div class="col-md-3">
      <%= @order.payment_method %>
    </div>
  </div>
  <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
  <div class="row mt-3">
    <div class="col-md-3"><strong>注文ステータス</strong></div>
    <div class="col-md-3">
      <%= f.select :status, Order.statuses.keys.map %>
      <%= f.submit "更新", class: "btn btn-success" %>
    </div>
    <div class="row">
      <div class="col-md-7">
        <table class="table">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th>製作ステータス</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.price.to_s(:delimited) %></td>
              <td><%= order_detail.amount %></td>
              <td><%= order_detail.</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>  
    </div>
  </div>
</div>