<div class='container'>
  <div class='row'>
    <div class="col-8 mx-3 mt-3">
      <!--新規会員登録-->
      <h5>新規会員登録</h5>

      <%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="form-group d-flex my-3">
        <div class="my-2 mx-3">
          <label>名前</label>
        </div>
        <div>
          <%= f.label :last_name, "(姓)" %>
        </div>
        <div>
          <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name", class: "form-control", placeholder: "令和" %>
        </div>
        <div>
          <%= f.label :first_name, "(名)" %>
        </div>
        <div>
          <%= f.text_field :first_name, autocomplete: "given-name", class: "form-control", placeholder: "道子" %>
        </div>
      </div>

      <div class="form-group d-flex my-3">
        <div class="my-2 mx-3">
          <label>フリガナ</label>
        </div>
        <div>
          <%= f.label :last_name_kana, "(セイ)" %>
        </div>
        <div>
          <%= f.text_field :last_name_kana, autocomplete: "name", class: "form-control", placeholder: "レイワ" %>
        </div>
        <div>
          <%= f.label :last_name_kana, "(メイ)" %>
        </div>
        <div>
          <%= f.text_field :first_name_kana, autocomplete: "name", class: "form-control", placeholder: "ミチコ" %>
        </div>
      </div>

      <div class="form-group d-flex my-3">
        <div class="my-2 mx-3">
          <%= f.label :email, "メールアドレス" %>
        </div>
        <div>
          <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "sample@example.com" %>
        </div>
      </div>

      <div class="form-group d-flex my-3">
        <div class="my-2 mx-3">
          <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
        </div>
        <div>
          <%= f.text_field :postal_code, autocomplete: "postal-code", class: "form-control", placeholder: "0000000" %>
        </div>
      </div>

      <div class="form-group d-flex my-3">
        <div class="my-2 mx-3">
          <%= f.label :address, "住所" %>
        </div>
        <div>
          <%= f.text_field :address, autocomplete: "shipping", class: "form-control", placeholder: "東京都渋谷区代々木神園町0-0" %>
        </div>
      </div>

      <div class="form-group d-flex my-3">
        <div class="my-2 mx-3">
          <%= f.label :telephone_number, "電話番号(ハイフンなし)" %>
        </div>
        <div>
          <%= f.text_field :telephone_number, autocomplete: "tel-national", class: "form-control", placeholder: "0000000000" %>
        </div>
      </div>

      <div class="form-group d-flex my-3">
        <div class="my-2 mx-3">
          <%= f.label :password, "パスワード(6文字以上)" %>
        </div>
        <div>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>

      <div class="form-group d-flex my-3">
        <div class="my-2 mx-3">
          <%= f.label :password, "パスワード(確認用)" %>
        </div>
        <div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: 'btn py-2 px-4 btn-success' %>
      </div>
     <% end %>

     <!--登録済み会員-->
     <h5>既に登録済みの方</h5>
     <p><%= link_to "こちら", new_customer_session_path %> からログインしてください。</p>

    </div>
  </div>
</div>
