<div class="container">
  <diw class="row my-5">
    <div class="col-md-3">
      <%= render 'public/genres/genre', genres: @genres %>
    </div>
    <div class="col-md-9">
      <h3 class="mb-4"><strong>商品一覧</strong> (全 <%= Item.where(is_active: 'true').count %>件)</h3>
      <div class="row">
        <% @items.each do |item| %>
          <% if item.is_active? %>
            <div class="card m-1">
              <div class="card-img-top">
                <%= link_to item_path(item) do %>
                  <%= image_tag item.item_image, size: "200x200" %>
                <% end %>
              </div>
              <div class="card-body">
                <div><%= item.name %></div>
                <div>¥<%= item.add_tax_price.to_s(:delimited) %></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="my-3">
        <%= paginate @items, theme: 'bootstrap-5' %>
      </div>
    </div>
  </diw>
</div>